In [1]:
import pandas as pd

In [2]:
df_movies = pd.read_csv('datasets/movies_amostra.csv')
df_movies.sample(5, random_state=1)

,id,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por,escrito_por_1,escrito_por_2,historia_original
1957,40688,Meet the Deedles,False,24000000,en,13.0,1998-03-27,Two surfers end up as Yellowstone park rangers...,4562146.0,93.0,Comedy,Paul Walker,John Ashton,Dennis Hopper,Eric Braeden,Richard Lineback,Steve Boyum,NaN,NaN,NaN
2087,9267,And Now for Something Completely Different,False,0,en,16.0,1971-09-28,And Now for Something Completely Different is ...,0.0,88.0,Comedy,Graham Chapman,John Cleese,Terry Gilliam,Eric Idle,Terry Jones,Ian MacNaughton,Graham Chapman,John Cleese,NaN
1394,61391,Distant Drums,False,0,en,12.0,1951-12-25,"After destroying a Seminole fort, American sol...",0.0,101.0,Action,Gary Cooper,Mari Aldon,Richard Webb,Ray Teal,Arthur Hunnicutt,Raoul Walsh,Martin Rackin,Niven Busch,NaN
1520,75298,The Fountain,False,0,ru,0.0,1989-09-08,A story of a Moscow's apartment building that ...,0.0,100.0,Comedy,Viktor Mikhaylov,Shanna Kerimtayeva,Asankul Kuttubayev,Sergei Dreiden,Nina Usatova,Yuri Mamin,NaN,NaN,NaN
1098,48375,Brother's Justice,False,0,en,0.0,2010-10-22,"Motivated by Box Office statistics, Dax Shepar...",0.0,80.0,Comedy,Tom Arnold,Jon Favreau,James Feldman,David Koechner,David Palmer,Dax Shepard,NaN,NaN,NaN

In [3]:
df_movies.popularidade.describe()

count    3000.000000
mean        6.066333
std         9.612842
min         0.000000
25%         1.000000
50%         2.000000
75%         9.000000
max       224.000000
Name: popularidade, dtype: float64

In [4]:
def int_mapper(df: pd.DataFrame, col: str):
    uniques = df[col].unique()
    mapper = {}

    for i, v in enumerate(df_movies.genero.unique()):
        mapper[v] = i
    

    new_series = df[col].apply(lambda x: mapper[x])

    return mapper, new_series


mapper, new_series = int_mapper(df_movies, 'genero')
df_movies['genero_d'] = new_series

In [5]:
df_movies.sample(5, random_state=1).resumo.iloc[2]

'After destroying a Seminole fort, American soldiers and their rescued companions must face the dangerous Everglades and hostile Indians in order to reach safety'

In [14]:
df_movies[df_movies.idioma_original == 'en'].genero.value_counts()

Comedy    1431
Action     701
Name: genero, dtype: int64

In [24]:
df_movies.titulo.isna().sum() / 3000

0.0

In [21]:
df_movies.adulto.value_counts()

False    2999
True        1
Name: adulto, dtype: int64

In [23]:
(df_movies.orcamento == 0).sum() / 3000

0.7756666666666666

In [25]:
(df_movies.popularidade == 0).sum() / 3000

0.24366666666666667

In [32]:
df_movies.resumo.isna().sum() / 3000

0.023

In [31]:
(df_movies.receita == 0).sum() / 3000

0.794

In [30]:
(df_movies.duracao == 0).sum() / 3000

0.031

In [34]:
df_movies.dirigido_por.isna().sum() / 3000

0.011333333333333334