In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df_amostra = pd.read_csv('datasets/movies_amostra.csv')
df_amostra.sample()

,id,titulo,adulto,orcamento,idioma_original,popularidade,data_de_estreia,resumo,receita,duracao,genero,ator_1,ator_2,ator_3,ator_4,ator_5,dirigido_por,escrito_por_1,escrito_por_2,historia_original
2121,43678,The Champion,False,0,en,2.0,1915-03-11,"Walking along with his bulldog, Charlie finds ...",0.0,33.0,Comedy,Charlie Chaplin,Edna Purviance,Ernest Van Pelt,Lloyd Bacon,Leo White,Charlie Chaplin,NaN,NaN,NaN

In [3]:
df_amostra[df_amostra.genero == 'Comedy'].duracao.describe()

count    1971.000000
mean       86.923389
std        29.314100
min         0.000000
25%        83.000000
50%        91.000000
75%       100.000000
max       410.000000
Name: duracao, dtype: float64

In [4]:
df_amostra[df_amostra.genero == 'Action'].duracao.describe()

count    1011.000000
mean      102.979228
std        38.989749
min         0.000000
25%        90.000000
50%        99.000000
75%       113.000000
max       705.000000
Name: duracao, dtype: float64

In [91]:
import re
import string
import numpy as np
import json

sw_en = json.load(open('datasets/en_sw.json', 'r'))

print(string.punctuation)
def cleaner(overview: str) -> str:
    if overview is None or overview is np.nan:
        return None

    # Separators
    separators_exp = r'[\-_]'
    # Other punctuation
    punctuation_tt = str.maketrans('', '', string.punctuation)
    # Word validator
    def only_letter(s):
        for w in s:
            if w not in 'abcdefghijklmnopqrstuvwxyz':
                return False
        return True

    new_overview = overview
    new_overview = overview.lower() # Normalize case
    new_overview = re.sub(separators_exp, ' ', new_overview) # Normalize separators
    new_overview = new_overview.translate(punctuation_tt) # Remove punctuation

    new_overview = ' '.join([w for w in new_overview.split() if len(w) > 0 and only_letter(w) and w not in sw_en])

    return new_overview if len(new_overview) != 0 else None

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [6]:
for el in df_amostra.resumo.apply(cleaner).sample(10):
    print(el)

court martialed general rallies together inmates rise system put away
tasmanian devil loose bugs offers help find dinner
agent coulson informs agent sitwell world security council wishes emil blonsky released prison join avengers initiative nick fury want release blonsky two agents decide send patsy sabotage meeting
sebastian maniscalco examines shameless behaviors modern society small daily annoyances publicly obnoxious asks embarrassed new one hour comedy special deeply relatable highly entertaining inspired real life irritations keep audiences rolling laughter
None
ellen shares humorous observations daily life including remembering names clothing need approval making personal videos post coming performance fully acknowledges ellen degeneress status americas famous lesbian
lucas appeared lives dani carlos toni quiet life major concerns shared almost everything house housework dogs homosexual tendencies debts forced rent one bedrooms floor came lucas hair long charming smile muscular body completely change life destiny lovers home lucas found dead killed reasons maybe none
maria laura mala actress little luck successful working women seducing boyfriends know faithful everything changes dream perform acting career depends job performed santiago breaks pattern shakes professional convictions
stan ollie get involved con men crooks genial magician two interchangeable coffins disastrous funny results
None

In [7]:
df_amostra['resumo_2'] = df_amostra.resumo.apply(cleaner)

In [8]:
df_amostra[df_amostra.resumo_2.isna()].genero.value_counts()

Comedy    64
Action     6
Name: genero, dtype: int64

In [9]:
df_amostra[df_amostra.resumo_2.isna()].index.values

array([  11,   52,  132,  276,  277,  380,  424,  431,  460,  471,  478,
        486,  517,  587,  613,  624,  775,  861,  865,  873,  876,  933,
        949,  960,  972,  973,  980, 1027, 1039, 1202, 1258, 1309, 1319,
       1416, 1441, 1530, 1550, 1636, 1671, 1695, 1699, 1718, 1724, 1762,
       1782, 1809, 1928, 1961, 1982, 1987, 2057, 2172, 2280, 2361, 2411,
       2445, 2462, 2512, 2520, 2533, 2557, 2684, 2696, 2713, 2718, 2726,
       2732, 2733, 2865, 2984])

In [10]:
list(enumerate(reversed(range(9))))

[(0, 8), (1, 7), (2, 6), (3, 5), (4, 4), (5, 3), (6, 2), (7, 1), (8, 0)]

In [11]:
predicted_svm = list(range(10))

predicted_rf = [-1] * 10

rf_index = [0, 7]

final_predictions = [sp if i not in rf_index else predicted_rf[i]
                        for i, sp in enumerate(predicted_svm)]

In [12]:
final_predictions

[-1, 1, 2, 3, 4, 5, 6, -1, 8, 9]

In [90]:
garbage_exp = r'(?:^|\s).*?[^a-zA-Z].*?(?:$|\s)'


[s for s in 'sssséa9 bruh bu6hh bu6hh bu6hh bruhv man'.split() if only_letter(s)]

['bruh', 'bruhv', 'man']

In [92]:
cleaner('Após algumas reflexões, percebeu-se que o modelo era altamente dependente ao resumo, o que não é algo necessariamente ruim. Por conta disso, decidimos adotar uma representação que consiste basicamente do resumo com uma limpeza aplicada por cima.')

'algumas percebeu se que modelo era altamente dependente ao resumo que algo necessariamente ruim por conta disso decidimos adotar uma que consiste basicamente resumo com uma limpeza aplicada por cima'